.table-container {
    margin: 0 auto; /* Center the table horizontally */
    max-width: 800px; /* Set maximum width for responsiveness */
    width: 90%; 
    padding: 20px;
    /* height: 60vh; */
    text-align: center;
  }
  .table-container h2{
    color: #081b29;
  }
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .table-container th, .table-container td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table-container th {
    background-color: #ff427b;
    color: #081b29;
  }
  
  .table-container tbody tr:nth-child(even) {
    background-color: #fbc6c6;
  }
  
  .table-container tbody tr:hover {
    background-color: #ddd;
  }
  
  /* Responsive styling */
  @media screen and (max-width: 600px) {
    .table-container {
      width: 100%;
      margin: 0;
    }
  
    .table-container th, .table-container td {
      padding: 6px;
      font-size: 14px;
    }
  }
  