* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

.home,
.contactUs
.services,
.sign-up,
.marketing,
.consulting {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


@media only screen and (max-width: 768px) {
  .home,
  .services,
  .contactUs
  .course,
  .sign-up,
  .marketing,
  .consulting {
    height: 90vh; /* Adjust height for smaller screens */
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
}

@media only screen and (min-width: 768px) {
  .home,
  .services,
  /* .course, */
  /* .contactUs, */
  .sign-up,
  .marketing,
  .consulting {
    min-height: 768px; /* Minimum height for larger screens */
    max-height: 90vh; /* Maximum height for larger screens */
    font-size: 3rem; /* Reset font size for larger screens */
  }
}
